.container
    .row
        .span12
            .hero-unit
                h1 Web Audio Oscillator
    .row
        .span12
            h1#freq_text 0
    .row
        .span12
            #instrument
                #mover
