.container
    .row
        .span12
            .hero-unit
                h1 Web Audio Oscillator
    .row
        #controls
            .span2.offset2
                button.btn.btn-success Play
            .span2.offset1
                button.btn.btn-danger Stop
