.container
    .row
        .span12
            h1 Web Audio Oscillator
    .row
        .span12
            #instrument
                #mover
                #waves
                    .wave.wave_1
                    .wave.wave_2
                    .wave.wave_3
    .row
        .span12
            h1#freq_text Frequency
