.container
    .row
        .span12
            .hero-unit
                h1 Web Audio Oscillator
    .row
        #controls
            span6.offset3
                button.btn.btn-success Play
                button.btn.btn-danger Stop
