.container
    .row
        .span12
            .hero-unit
                h1 Web Audio Oscillator
    .row
        #controls
            .span1.offset2
                button.btn.btn-success#play Play
            .span1.offset1
                button.btn.btn-danger#stop Stop
            .span1.offset1
                input#freq(placeholder='2000')
